[submodule "onehundredandtwenty"]
	path = onehundredandtwenty
	url = git@github.com:knub/onehundredandtwenty.git

[submodule "onehundredandeighty"]
	path = onehundredandeighty
	url = git@github.com:knub/onehundredandeighty.git
[submodule "hpi-quotedb"]
	path = hpi-quotedb
	url = git@github.com:m0r13/hpi-quotedb.git
